<h1>Log In Below:</h1>

<form action="/sessions" method= "POST">
  <label for="email">EMAIL:</label>
    <input name="email" id="email">
  <label for="password">PASSWORD:</label>
    <input name="password" id="password">
    <input type="submit" value = "Log In">
  
  
  
  
</form>

