<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
    <h4>Name: <input type="text" id="name" name="name"> </h4>
    <h4>Email: <input type="email" id="email" name="email"> </h4>
    <h4>Password: <input type="password" id="password" name="password"> </h4>
    <input type="submit" value="Sign Up">
</form>


