<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">

<p><label for="name">Username: </label> <input type="text" name="name" id="name"></p>


<p><label for="email">Email: <input type="text" name="email" id="email"></label></p>
<p><label for="password">Password: </label><input type="text" name="password" id="password"></p>
<p><label for="Sign Up"></label><input type="submit" id="Sign Up" value= 'Sign Up'></p>

</form>
